*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg,rgb(0, 179, 255) , rgb(157, 0, 255));
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.434);
}

.todo-app h2{
    color: #002765;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.256);
    display: flex;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eef0f1;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex : 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    background: #ff5945;
    color: #fff;
    padding: 16px 50px;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
    transition: 1s;
}

button:hover {
    background-color: #ff3d2f;
    transition: all 0.3s ease;
}

button:active {
    transform: scale(0.9);
    transition: 1s;
}

ul{
    height: 30vh; 
    overflow-y: auto; 
    padding-right: 15px; 
    scrollbar-width: none;
}

ul li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 17px;
    user-select: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

ul::-webkit-scrollbar{
    display: none;
}

ul li:hover {
    transform: translateX(-1px);
    transition: 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

ul li.remove {
    animation: fadeOut 1s ease;
    opacity: 0;
}


ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
    transition: 2s;
}

ul li.checked::before{
    background-image: url(images/checked.png);
    transition: 0.5s;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background-color: #edeef0;
}

@media (max-width: 576px) {
    .row {
        flex-direction: column;
    }
    button{
        padding: 10px 30px;
    }
    .todo-app{
        width: 85%;
    }
    ul li{
        font-size: 14px;
    }
    ul li::before{
        height: 24px;
        width: 24px;
    }
    ul li span{
        font-size: 18px;
    }
}
